.pokemon {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  min-width: 310px;
  justify-content: space-between;
  align-items: center;
}

.pokemon p {
  margin: 5px;
  padding: 0;
}

.pokemon img {
  width: 100px;
  height: auto;
}